$position: absolute;
$height: 16.2%;
$width: 9.2%;

.flareon{
   background-image: url("https://media.giphy.com/media/YZgPOMwUBQ7Sw/giphy.gif");
}

.vaporeon{
  background-image: url(https://i.gifer.com/C7iy.gif);

}

.jolteon{
  background-image: url(https://em.wattpad.com/6351d25417a9aab2d68f35b52a94162b16d0192a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6e625a435f426c374261566b37413d3d2d3531313538363635302e313530333062383735363639373864343834313930333632393335342e676966);
}

.static-screen{
 background-image: url(https://78.media.tumblr.com/d4c9f98836a5010af6de41e5e42a0a80/tumblr_orqp0yqPg61w4t58uo1_500.gif);
}
html{
  // background-image: url(https://78.media.tumblr.com/d4c9f98836a5010af6de41e5e42a0a80/tumblr_orqp0yqPg61w4t58uo1_500.gif);
background-color: black;
background-size: cover;

}

@font-face{ font-family: nintendo;
             src: url(fonts/nineteen.otf);
 }

body{
  overflow-x: hidden;



}


.backdrop3 img{
  margin: 0;
  position: $position;
  width: 9%;
  height: 16%;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 22%;
  background-color: aqua;
opacity: 0.5;
z-index:0;
cursor: pointer;
background: -webkit-radial-gradient(25px 25px, circle, aqua, #000);
transition: opacity .7s;
 transition: height   .2s;
  transition: width   .2s;
}

.backdrop2 img{
   margin: 0;
  position: $position;
  width: 9%;
  height: 16%;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 11%;
  background-color: #ede912;
opacity: 0.5;
z-index:0;
cursor: pointer;
background: -webkit-radial-gradient(25px 25px, circle, #ede912, #000);
transition: opacity .7s;
 transition: height   .2s;
  transition: width   .2s;
}



.backdrop img{
  margin: 0;
  position: $position;
  width: 9%;
  height: 16%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #c60909;
  opacity: 0.5;
  z-index:0;
  cursor: pointer;
  background: -webkit-radial-gradient(25px 25px, circle, #c60909, #000);
  transition: opacity .7s;
  transition: height   .2s;
  transition: width   .2s;

}

.backdrop img:hover{

  height: $height;
  width: $width;
  opacity:1;


}

.backdrop2 img:hover{
  height:$height;
  width: $width;
  opacity:1;
}
.backdrop3 img:hover{
  height:$height;
  width: $width;
  opacity:1;
}



.pokeball{
  position: $position;
      width: 60%;
      height:auto;
    z-index: 1;
    margin-left: 25%;
}



#data-stuff{
  position: $position;
    z-index: 1;
    right: 50%;
    bottom: 40%;
    color: white;
    font-family: 'nintendo';
    font-weight: normal;
    letter-spacing: 3px;
    // border: 3px solid #bfb7b7;
    border-radius: 1%;
    height: 91%;
    width: 42%;
    margin-right: -338px;
    margin-bottom: -265px;
    background-color: #052b04;
    opacity: .8;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.stats{
  position: $position;
  color: white;

}

#trainer-name{
  text-align: center;
  margin-right: 42px;
}

.poke-border{
     border-radius: -16%;
    border-top: 2px solid #bfb7b7;
    border-bottom: 2px solid #bfb7b7;
    // padding-top: 84px;
    margin-top: 228px;
    background-color: black;
transition: margin 3s;
transition: padding-top .4s;
}

#pokemon img{
padding-right: 16px;
    margin-left: 160px;
    width: 234px;
    z-index: 7;
}

.pokemon-name{
  margin-top: -83px;
  text-align: center;
}

.pokemon-details{
  text-align: justify;
opacity: 0;
transition: opacity .8s
}

.show-details{
  opacity: 1;
}

.poke-open{
padding-top: 84px;
}





.ghost{
  /*opacity: 0.2;
*/
margin-left: -4px;
filter: blur(7px);
}



@media screen and (max-width: 992px) {

#trainer-name{
color: red;
  margin-right: 50%;
}

.backdrop3 img{
  margin-top: 27%;
}

.backdrop2 img{
  margin-top: 13%;
}


}
